@model IEnumerable<AssetManagementSystemUI.Models.SoftwareLicenseDTO>

@{
    ViewData["Title"] = "DisplayLicenses";
    Layout = "~/Views/Shared/_OtherLayout.cshtml";
    <p style="color : darkgreen">@TempData["message"]</p>
}

<p>
    <a asp-action="Add">Create New License</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdentityNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Source)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdentityNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Source)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id, licensenumber=item.IdentityNumber,name=item.Name,type=item.Type,initialcost=item.Price,quantity=item.Quantity,expirydate=item.Date }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id,licenseNumber = item.IdentityNumber })
            </td>
        </tr>
}
    </tbody>
</table>
